<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="container">
            <h2>
                Open
                <a href="/bakery">Biscoff Bakery App</a>
            </h2>
        </div>
    </body>
</html>
