<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <div class="container d-flex flex-column align-items-center">
            <h1>Biscoff Bakery</h1>
            <a
                class="btn btn-secondary new-entry-button mb-3"
                href="/bakery/new"
            >
                New Entry
            </a>
            <div class="container d-flex justify-content-center flex-wrap">
                <% cakes.forEach(element => { %> <%-
                include('../partials/displayCard', { element }) %> <% }) %>
            </div>
        </div>
    </body>
</html>
