<%- include('../partials/head') %>

      <div class="container d-flex flex-column align-items-center">
            <h2>Enter New Item</h2>
            <form action="/products" method="post" class="flex">
                    <div class="flex direction mb-3">
                            <label>Name: </label> 
                            <input type="text" name="name" placeholder="Chocolate Brownise">
                    </div>

                    <div class="flex direction mb-3">
                        <label>Price: </label> 
                        <input type="text" name="price" placeholder="50" >
                  </div>
                    
                    <div class="flex direction mb-3">
                            <label>Image URL: </label> 
                            <input type="text" name="image" placeholder="imgur http link" >
                    </div>
                  
                    
                    <div class="d-flex flex-row justify-content-center">
                            <a class="btn btn-secondary smallMargin" href="/products">Back</a>
                            <button type="submit" class="smallMargin">Save</button>
                    </div>
            </form>
    </div>
    </div>
<%- include('../partials/footer') %>
