.cell {
    background: #f2f2f2;
    height: 100px;
    border-right: 1px solid black;
    cursor: pointer;
    transition: all 0.3s linear;
    text-align: center;
}

.cell:hover {
    background: #eaeaea;
}

.row {
    border-bottom: 1px solid black;
}

.row:last-of-type {
    border-bottom: none;
}

.row .cell:last-of-type {
    border-right: none;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.wrapper .cell {
    width: 33.333333%;
    border-bottom: 1px solid black;
}

.wrapper .cell:nth-of-type(7), .wrapper .cell:nth-of-type(8), .wrapper .cell:last-of-type {
    border-bottom: none;
}