h1, h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

#landing-bg {
    /* background-image: ; */
    background: url(img/sailboat.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 75px);
}

#site-header nav {
    background: #3e3e3e;
    padding: 25px 0;
}

#site-header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#site-header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

#site-header nav ul li a {
    color: white;
    text-decoration: none;
}

#intro-text {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border-bottom: 1px dotted #eaeaea;
}

@media (min-width: 1024px) {
    #intro-text {
        font-size: 36px;
    }
}

#intro-text p {
    line-height: 1.8;
}

#site-footer {
    padding: 50px 0;
    margin-top: 100px;
    border-top: 1px solid #eaeaea;
}

#site-footer ul {
    list-style-type: none;
    text-align: center;
    font-size: 24px;
    margin: 0;
    padding: 0;
}

#site-footer ul li {
    display: inline-block;
    margin: 0 15px;
}

#features-section {
    display: flex;
    flex-direction: row; /* determines to display items as a row, or stacked */
    justify-content: space-between; /* determines the horizontal spacing around each item */
    align-items: center; /* vertical alignment of items */
    flex-wrap: wrap;
}

/** Mobile-first approach **/

#features-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#features-section .item {
    width: 100%;
    margin: 0;
}

#features-section .item img {
    width: 100%;
}

/* Transtions */

#features-section .item a {
    color: #888888;
    padding: 15px;
    border: 1px solid #eaeaea;
    text-decoration: none;
    transition: 0.3s all linear;
}

#features-section .item a:hover {
    background: #eaeaea;
    padding: 20px;
}

@media screen and (min-width: 576px) {
    #features-section .item {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    #features-section {
        flex-wrap: nowrap;
    }

    #features-section .item {
        width: 33.333333%;
        margin: 0 15px;
    }
}


/** Desktop-first approach **/

/* #features-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

#features-section .item img {
    width: 100%;
}

#features-section .item {
    width: 33.333333%;
    margin: 0 15px;
}

@media screen and (max-width: 768px) {
    #features-section {
        flex-wrap: wrap;
    }

    #features-section .item {
        width: 50%;
        margin: 0;
    }
}

@media screen and (max-width: 576px) {
    #features-section .item {
        width: 100%;
    }
} */


#header-text-wrapper {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes bounce {
    0% { transform: translate(0, 0) }
    50% { transform: translate(0, 20px) }
    100% { transform: translate(0, 0) }
}

#intro-text {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
