<%- include('../partials/head') %>

      <div class="container d-flex flex-column align-items-center">
            <h2>Edit Details</h2>
            <form action="/products/<%= product.slug %>?_method=PATCH " method="post" class="flex">
                    <div class="flex direction mb-3">
                            <label>Name: </label> 
                            <input type="text" name="name" placeholder="Banana Cake">
                    </div>

                    <div class="flex direction mb-3">
                        <label>Price: </label> 
                        <input type="text" name="price" placeholder="100" >
                  </div>
                    
                    <div class="flex direction mb-3">
                            <label>Image URL: </label> 
                            <input type="text" name="image" placeholder="imgur http link" >
                    </div>
                  
                    
                    <div class="d-flex flex-row justify-content-center">
                            <a class="btn btn-secondary smallMargin" href="/products/<%= product.slug %> ">Back</a>
                            <button type="submit" class="smallMargin">Save</button>
                    </div>
            </form>
    </div>
    </div>
<%- include('../partials/footer') %>

