<%- include('../partials/head') %>

    <div class="container">
      <h2>
        Open
        <a href="/products">Biscoff Bakery App</a>
      </h2>
    </div>

<%- include('../partials/footer') %>
