<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<form action="/pokemon" method="post">
    <input type="text" name="name" placeholder="Name" >
    <input type="text" name="img" placeholder="Image" >
    <input type="submit" value="Create">
</form>
</html>