<div class="col-3 my-1 mx-1">
  <div class="card">
    <img
      src="<%= element.image %>"
      class="card-img-top"
      style="max-height: 200px"
      alt="..."
    />
    <div class="card-body" style="max-height: 400px">
      <h4 class="card-title"><%= element.name %></h4>
      <p>Price: $<%= element.price %></p>
      <!-- <a href="/biscoff/<%= element.id %>" class="btn btn-primary">View Cake</a> -->
    </div>
  </div>
</div>
