body {
    background: rgb(208, 208, 220);
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(48, 70, 90);
    text-align: center;
}

#page-header {
    background: rgb(248, 248, 248);
}

#page-header #inner-page-header-wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 15px;
}

#inner-page-header-wrapper h1 {
    text-align: center;
}

#page-header img {
    width: 100%;
}

main {
    background: #ebebeb;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

main nav {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main nav h2 {
    margin-bottom: 0;
}

#page-articles {
    padding-bottom: 30px;
}

#page-articles article {
    background: rgb(248,248,248);
    padding: 15px;
    margin-bottom: 15px;
}

#page-articles article h3 {
    color: rgb(164, 165, 193);
}

footer {
    background: rgb(248,248,248);
    padding: 15px 0;
}

footer h2 {
    margin-top: 0;
}

.page-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
