<div class="col-3 my-1 mx-1">
    <div class="card" >
        <img src="<%= element.img %>" class="card-img-top" alt="..." >
        <div class="card-body" style="height: 125px;">
          <h5 class="card-title"><%= element.formatName() %></h5>
          <a href="/pokemon/<%= element.index %>" class="btn btn-primary">View Pokemon</a>
        </div>
    </div>
</div>