body {
  background-color: #eaeaea;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.imageContainer {
  height: 200px;
  width: 100%;
}

.container {
  width: 1200px;
}
.extraWidth {
  width: 400px;
}
.cakeImage {
  max-height: 400px;
  max-width: 400px;
}

.smallMargin {
  margin: 10px;
}

.new-entry-button {
  width: 300px;
}

label {
  width: 100px;
}

.button-list {
  width: 300px;
}

.rating-list {
  width: 800px;
}
