#todolist-form button {
        width: 100%;
    }
    
    .todo-ul {
        list-style-type: none;
        padding: 0;
    }
    
    .todo-item {
        padding: 15px 10px;
        margin-bottom: 10px;
        border-radius: 7px;
    }
    
    .todo-item p {
        color: white
    }
    
    .todo {
        background: cyan;
    }
    
    .completed {
        background: pink;
    }
    